:root {
    --footColor:#343a40;
}

footer nav {
    margin:auto;
    margin-right:100px;
    display: flex;
}

footer{
    height: 100px;
    background-color: var(--footColor);
    color: rgb(255, 191, 0);
    padding-top: 0px;
    bottom: 0;
    border-width: 1px;
    border-style: solid;
    display: flex;
}
