:root {
    --backColor:rgba(22, 22, 22, 0.773);
    --footColor:#343a40;
}

body {
    font-family: 'Share Tech', sans-serif;
    font-size: 15px;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    height: auto;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/blackmamba.png");
}

h1{
    margin-left: 10px;
    margin-top: 10px;
}

body #contenu{
    min-height: 100vh;  
    margin: 15px;
}